@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-hanken-grotesk: "Hanken Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-family: var(--font-hanken-grotesk);
  --color-ghost-blue: #f5f6fa;
  --color-light-grayish-blue: #f8f8fb;
  --color-platinum: #d9d9e0;
  --color-pale-red: #ffb7bd;
  --color-mint-green: #b6fdd3;
  --color-yellowish-beige: #f8e39b;
  --color-cichild-blue: #003eff;
  --color-dark-grey: #373b47;
  --color-dark-grey-2: #4f4f4f;
  --color-neutral-grey: #666f77;
  --color-green: #129043;
  --color-light-red: #fff4f5;
  --color-light-grey: #f6f8fa;
  --color-light-grey-2: #e3e6ef;
  --color-cosmic-latte: #fff8eb;
  --color-amber: #d98f00;
  --color-red: #ff5663;
  --color-pale-green: #e6fff0;
  --color-black: #1f1f23;
  --color-grey: #697598;
}

@layer base {
  html,
  body {
    font-family: var(--font-hanken-grotesk);
  }
}
